services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: healthplatform
      POSTGRES_USER: healthplatformuser
      POSTGRES_PASSWORD: healthplatformpass
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U healthplatformuser -d healthplatform" ]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - medlink-net

  backend-service:
    build: .
    container_name: backend-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - medlink-net

volumes:
  postgres_data:

networks:
  medlink-net:
    name: medlink-net
